<div class="detail-container">
    <ng-container *ngIf="project">
        <div class="detail-header" [style]="{'background-color': 'black'}">
            <div class="header-title">
                <span>
                    {{project.projectName}}
                </span>
            </div>
            <div class="header-links">
                <p>
                    <a [href]="project.gitUrl" target="_blank" [class.disabled]="!project.isPublic">
                        <i class="fab fa-github"></i> Repository
                    </a>
                    <label class="private-repo" *ngIf="!project.isPublic">
                        <i class="fas fa-lock"></i>
                        Private
                    </label>
                    <label class="public-repo" *ngIf="project.isPublic">
                        <i class="fas fa-unlock"></i>
                        Public
                    </label>
                </p>

                <p>
                    <a [href]="project.url" target="_blank"><i class="fas fa-external-link-alt"></i> Visit</a>
                </p>
            </div>
            <div class="header-description">
                <p>
                    {{project.description}}
                </p>
            </div>
        </div>
        <div class="detail-project" [ngClass]="{'larger-layout': project.media.length > 5}" *ngIf="project">

            <div class="detail-item" *ngFor="let projectImg of project.media" [ngClass]="projectImg.class">
                <img class="image-project" [src]="projectImg.url" alt="project image">
            </div>

        </div>
    </ng-container>
</div>
