.carousel-container {
  @include flex-center();
  min-height: 300px;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 2% 0;
}


.carousel-card {
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  transition: 300ms;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  border: 1px solid #3fc5f0;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
}


.card-cover-page {
  width: 100%;
  height: 70px;
}

.carousel-card img {
  background-color: white;
  width: 70px;
  height: 70px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}
.code-icon {
  background-color: white;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  @include flex-center();
  i {
    @include flex-center();
    color: #1d1d1d;
    font-size: 30px;
    height: 40px;
    width: 40px;
  }
}

.card-content {
  height: 230px;
  padding: 30px 20px 0 20px;
  border-top: 2px solid gray;
  box-sizing: border-box;
  @include flex-center($column);
  justify-content: space-evenly;
  width: 100%;
}

.card-content__project {
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #ec9b3b;
}

.badges {
  color: black;
  @include flex-center();
  width: 100%;
  flex-wrap: wrap;

  span {
    @include flex-center();
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    border-radius: 30px;
    margin-right: 5px;
    padding: 5px;
    margin-bottom: 5px;
    color: #111d5e;
    font-size: 14px;
  }

  i {
    color: #16697a;
    margin-right: 4px;
  }
}

.card-content__url {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.card-content__know {
  background-color: transparent;
  border: 0;
  font-style: italic;
  cursor: pointer;
  position: relative;
  @include flex-center();

  &:before {
    @include arrow();
  }
}

.work-professional {
  height: 5px;
  background-color: rebeccapurple;
  width: 100px;
  border-radius: 10px;
}


/* pantallas grandes */
@media (max-width: 1200px) {

}


/* escritorio normales */
@media (max-width: 992px) {
  .carousel-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

}


@media only screen and (max-width: 768px) {

  .carousel-container {
    margin-top: 15px;
  }

  .carousel-card {
    @include flex-center($column);
    margin-right: 10px;
    margin-bottom: 10px;
  }

}


@media only screen and (max-width: 640px) {

  .carousel-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
