.presentation-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 1fr;
  grid-template-areas:
          "middle middle"
          "bottom bottom";
  //background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);

  color: white;
}

.item {
}



.middle {
  grid-area: middle;
  background: url($banner) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  grid-area: card;
}

.bottom {
  grid-area: bottom;
  background-color: white;
}

.card-over {

}


@media only screen and (max-width: 768px) {

}


@media only screen and (max-width: 640px) {
  .side-left, .side-right {
    display: none;
  }

}
