<div class="work-container">
    <div class="work-content">
        <div class="work-title">
            <div class="space"></div>
            <p>
                In my <span class="word-work">Free</span> time i like to be <span>creative</span> and get out my <span>Ideas
            </span>
                so here you can see some of them.
            </p>
        </div>
        <div class="work-carousel">
            <app-carousel [cards]="projects"></app-carousel>
        </div>
    </div>
</div>
