<section class="item layout-container">
    <div class="item side-left">
        <div class="text-portfolio">
            <svg>
                <text x="50" y="90">Welcome</text>
            </svg>
        </div>
    </div>
    <div class="item menu">
        <app-menu></app-menu>
    </div>
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
    <div class="item side-right">
        <svg>
            <text x="50" y="90">My Portfolio</text>
        </svg>
    </div>
</section>
