<div class="carousel-container">
    <div class="carousel-card" *ngFor="let card of cards" [routerLink]="['/detail/', card.id]">
        <div class="card-cover-page" [style]="{'background-color': card.headerColor}">
        </div>
        <img [src]="card.img" *ngIf="card.img" alt="logo">
        <div class="code-icon">
            <i class="fas fa-code" *ngIf="!card.img"></i>
        </div>

        <div class="card-content">
            <span class="card-content__project">
                {{card.projectName}}
            </span>
            <div class="badges">
                <span *ngFor="let badge of card.badges">
                    <i [ngClass]="badge.icon" *ngIf="badge.icon"></i>
                    {{badge.label}}
                </span>
            </div>
            <a class="card-content__url" *ngIf="card.url" [href]="card.url" target="_blank">Url website</a>
            <button class="card-content__know" [routerLink]="['/detail/', card.id]">
                Know more
            </button>
        </div>
    </div>
</div>
