<div class="menu-container">
    <div class="menu-container__button" routerLinkActive="active" routerLink="/certifications">
        <div class="shape">
            <label>Certifications</label>
        </div>
        <div class="circle">
            <i class="fas fa-user-graduate"></i>
        </div>
    </div>
    <div class="menu-container__button" routerLinkActive="active" routerLink="/presentation">
        <div class="shape">
            <label>Home</label>
        </div>
        <div class="circle">
            <i class="fas fa-home"></i>
        </div>
    </div>
</div>
